{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <!-- Upload Form -->
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Upload New Photo</h4>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.as_p }}
                        </div>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </form>
                </div>
            </div>

            <!-- Photo Gallery -->
            <div class="row">
                {% for image in img %}
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <img src="{{ image.photo.url }}" class="card-img-top" alt="Uploaded photo">
                        <div class="card-body">
                            <p class="card-text">
                                <small class="text-muted">
                                    Posted by {{ image.user.username }} on {{ image.date|date:"F j, Y" }}
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col-12">
                    <div class="alert alert-info">
                        No photos uploaded yet. Be the first to share!
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %} 